.git
.github
.gitignore
.dockerignore
README.md
CHANGELOG.md
LICENSE
LICENSE-DATA
CONTRIBUTING.md
CODE_OF_CONDUCT.md
web/
**/__pycache__
**/*.pyc
**/*.pyo
.venv
venv
videoenv
.pytest_cache
*.egg-info
